* {
  transition: all 0.5s;
}
body {
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode {
  background-color: #374151;
}
.container, .content, .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: 60px;
  height: 30px;
  background-color: #9ca3af;
  margin-top: 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.box {
  font-size: 1.5rem;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  margin-right: 2rem;
}
.fa-moon {
  color: #374151;
}
.fa-sun {
  color: #f3f4f6;
}